{% extends 'layout.html' %}
{% block content %}
    <script type="text/javascript">
        function ValidateFile()
        {
            var oFile = document.getElementById("file").files[0];
            if (oFile.size > 10485760) // 10 mb for bytes.
            {
                alert("File size must under 10MB!");
                return;
            }
            else
            {
                document.getElementById("fileform").submit();
            }
        }
    </script>

    <body class="bg-light">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <a class="btn text-white ml-5 mt-5 mr-5" role="button" href="/issues/{{issue.id}}"
                style="background-color: #404CFF;">Back</a>
            </div>

            <div class="row">
                <div class="col-5 card bg-light mx-auto mt-5 d-flex flex-column">
                    <h3 class="mt-3 text-muted mx-auto">-Choose Files-</h3>

                    <form method="POST" id="fileform" enctype="multipart/form-data">{% csrf_token %}
                        <div class="col-5 mx-auto mt-2">
                            <input id="file" type="file" name="file">
                            <small id="filehelp" class="form-text text-muted">Max 10MB</small>
                            <input type="hidden" name="issue" value="{{issue.id}}">
                        </div>

                        <div class="col-3 mx-auto mt-4 mb-2">
                            <input type="button" class="btn btn-block text-white" onclick="ValidateFile()" value="Upload" style="background-color: #404CFF;"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}